#konfigurator .konfigurator_polozka{
    max-width: 48%;
    min-width: 48%;
    margin-top: 10px;
}

#konfigurator .konfigurator_polozka:nth-child(2n){
    margin-left: 25px;  
}

#konfigurator .konfigurator_polozka > div{
   width: 100%;
}

#konfigurator .konfigurator_polozka .konfigurator_zalozka .top{

    position: relative; 
    background-color: rgb(138,203,8);
    width: 220px;
    -webkit-transform: skew(20deg);
    -moz-transform: skew(20deg);
    -o-transform: skew(20deg);
    margin-left: -4px;

}

#konfigurator .konfigurator_polozka .konfigurator_zalozka .top h3{

    text-align: center;
    margin: 0px;
    padding: 0px;
    width: 200px;
    -webkit-transform: skew(-20deg);
    -moz-transform: skew(-20deg);
    -o-transform: skew(-20deg);
    padding-top: 3px;

}

#konfigurator .konfigurator_polozka .konfigurator_zalozka .bottom {
    background-color: rgb(138,203,8);
    height: 5px;
}

#konfigurator .konfigurator_polozka .konfigurator_bunka{
    width: 100%;
    background-color: rgb(60, 60, 60);
    padding: 6px;
}

table h3 {
    background-color: rgb(138,203,8); 
}

#konfigurator .konfigurator_polozka .konfigurator_bunka table td { 
    color: rgb(255,255,255); 
    font-weight: bold;
    padding: 3px 0px;
}



// styles for specific resolutions

@media (min-width: 1440px) {

}

@media (max-width: 1440px){


}

/* Portrait tablet to landscape and desktop */

@media (max-width: 979px) {

	

}

/* Landscape phone to portrait tablet */

@media (max-width: 768px) {

#konfigurator .konfigurator_polozka{
    max-width: 42%;
    min-width: 42%;
    margin-top: 10px;
}

}

/* Landscape phones and down */

@media (max-width: 580px) {

#konfigurator .konfigurator_polozka{
    max-width: 100%;
    min-width: 100%;
    margin-top: 10px;
    margin-left: 0px !important;  
}

}
