#userProfilBar
{
position: relative;
margin: 0px auto;
width: 100%;
height: 30px;
background-color: #3e617e;
-moz-box-sizing: border-box; 
-webkit-box-sizing: border-box; 
box-sizing: border-box; 
border-bottom: 1px #000 solid;
text-align:center;
color: #ffffff;
font-size: 16px;
line-height: 25px;
}

#closeLogin
{
position: absolute;
margin-right: 5px;
top: 0px;
right: 0px;
height: 45%; 
width: 30px;
padding: 5px;
background-color: #cf4c36;
cursor: pointer;
border: 1px #000 solid;
-webkit-border-bottom-right-radius: 5px;
-webkit-border-bottom-left-radius: 5px;
-moz-border-radius-bottomright: 5px;
-moz-border-radius-bottomleft: 5px;
border-bottom-right-radius: 5px;
border-bottom-left-radius: 5px;
}

#closeLogin:hover
{
background-color: #ff0000;
}

#closeLogin object,#closeLogin:hover object
{
height: 100%;
height: 100%;
}

#userProfilInfo
{
position: relative;
float: right;
margin-top: 15px;
margin-right: 10px;
width: 75%;
background-color: #ffffff;

}

#userProfilInfo table 
{
border-collapse: collapse;
width: 100%;
}

#userProfilInfo table tr td
{
padding: 6px;
}

.userProfilInsideBar
{
width: 100%;
height: 20px;
background-color: #2f90e0;
color: #ffffff;
text-align: center;
font-family: Arial;
font-weight: bold;
line-height: 20px;
}

#userProfilProfilovka
{
position: relative;
float: left;
margin: 15px 0px 0px 8px;
display: inline-block;
padding: 5px 0.5%;
background-color: #ffffff;
width: 20%;
}

#userProfilProfilovka img 
{
width: 99.5%;
border: 1px #000 dotted;
}

.userProfilName
{
cursor: pointer;
width: 100%;
position: absolute;
left: 0px;
bottom: 0px;
text-align: center;
font-weight: bold;
padding: 8px 0px 8px 0px;
color: #ffffff;
background-color:rgba(0,0,0,0.6);
}

.userProfilNameafter
{
cursor: pointer;
width: 100%;
position: absolute;
left: 0px;
bottom: 0px;
text-align: center;
font-weight: bold;
padding: 8px 0px 8px 0px;
color: #ffffff;
background-color:rgba(0,0,0,0.8);
}

.userProfilName input[type=text], .userProfilNameafter input[type=text]
{
width: 90%;
}

#userProfilNameSubmit
{
border: 0px;
background-color: #a8cff0;
padding: 3px 4px;
cursor: pointer;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
}

.userNewProfil
{
cursor: pointer;
position: absolute;
top: 0px;
left: 0px;
min-width: 40px;
min-height: 40px;
max-width: 100%;
background: url(../../utilities/camera.png) no-repeat;
background-position: 50% 50%;
background-size: 30px;
background-color:rgba(0,0,0,0.6);
padding-bottom: 0px;
}

.userNewProfilafter
{
cursor: pointer;
position: absolute;
top: 0px;
left: 0px;
min-width: 40px;
min-height: 40px;
max-width: 100%;
background: url(../../utilities/camera.png) no-repeat;
background-position: 50% 50%;
background-size: 30px;
background-color:rgba(0,0,0,0.8);
padding-bottom: 0px;
}

#userLoginAutoCrop
{
padding: 4px 5px;
background-color: #388bd1;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
width: 97%;
}

#userUplodProfilTable
{
margin-left: 5px;
color: #ffffff;
width: 90%;
}

#userNewProfilForm
{
display: none;
}

#userNewProfilForm table
{
height: 40px;
}

#userNewProfilForm input[type=submit]
{
border: 0px;
background-color: #a8cff0;
padding: 3px 4px;
cursor: pointer;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
}

#userUplodProfilFormOutput img
{
width: 20px;
}

#ProfilUserNameErr
{
color: #ffffff;
}

#RegisteredUsersPermitionsDiv
{
width: 98%;
margin: 20px 0px 0px 8px;
background-color: #ffffff;
padding-bottom: 7px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#RegisteredUsersPermitionsDiv table
{
margin-top: 15px;
border-collapse: collapse;
}