#registration_obal
{
margin: 0px auto;
background-color: #0096ff;
font-family:Arial;
padding: 5px 15px;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
text-align: center;
color: #ffffff;
}

#registration_obal table
{
color: #ffffff;
margin: 0px auto;
}

#registration_obal table input
{
background-color: #ffffff;
border: 0px;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
padding: 4px 7px;
width: 180px;
}

#registration_obal table img
{
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
}

#registration_obal table div img{
vertical-align:middle;
}

#registration_obal table input[type=button]
{
border: 0px;
background-color: #8aff00;
color: #000000;
padding: 5px 8px;
-webkit-border-radius: 8px;
-moz-border-radius: 8px;
border-radius: 8px;
font-weight: bold;
cursor: pointer;
}

#registration_obal table input[type=submit]
{
border: 0px;
background-color: #8aff00;
padding: 3px 5px;
cursor: pointer;
}