body{font-size: 14px;}
table {font-size: 14px;}

input
{
    transition: width .15s;
}

table{

	border-collapse: collapse;

}

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}



#editorWindow
{
    position: relative;
    margin: 10px auto;
    width: 98%;
    background-color: #b8c3cc;
    cursor: auto;
    padding-bottom: 7px;
    border: 1px #8c8b8b solid;
}

#editorWindowBar
{
    position: relative;
    margin: 0px auto;
    width: 100%;
    padding: 4px;
    background-color: #02447a;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-bottom: 1px #000 solid;
}

.editorMainTable
{
    position: relative;
    margin: 14px auto;
    width: 96%;
    border-collapse: collapse;
    background-color: #ffffff;
    border: 1px #000 solid;
}

.editorMainTable td, th {
    border: 1px solid black;
}
.editorMainTable tr:first-child th {
    border-top: 0;
}
.editorMainTable tr:last-child td {
    border-bottom: 0;
}
.editorMainTable tr td:first-child,
.editorMainTable tr th:first-child {
    border-left: 0;
}
.editorMainTable tr td:last-child,
.editorMainTable tr th:last-child {
    border-right: 0;
}

.editorMainTable table td, .editorMainTable table th {
    border: 0px solid black;
}

.editorMainTable tr td textarea
{
    border: 0px;
    border: 1px #9d9d9d solid;
    width: 97%;
    margin: 0px auto;
    background-color: #c9d5e3;
}

#editorWindow div.not(#editorWindowBar)
{
    position: relative;
    margin: 14px auto;
    width: 96%;
    background-color: #ffffff;
}

#editorWindowSave
{
    width: 27px;
    height: 27px;
    border: 0px;
    padding: 2px;
    background: url(../utilities/save.png) no-repeat;
    background-position: 1px 1px;
    background-size: 25px 25px;
    cursor: pointer;
}

#editorWindowSave:hover
{
    width: 27px;
    height: 27px;
    border: 0px;
    padding: 0px;
    background: url(../utilities/save.png) no-repeat;
    background-color: #ffffff;
    background-position: 1px 1px;
    background-size: 25px 25px;
    cursor: pointer;
}

#editorWindowBar img
{
    width: 27px;
}

.editorMainTable tr td
{
    padding: 2px;
}

.editorMainTable tr td input[type="text"]
{
    width: 100%;
    border: 0px;
    background-color: #c9d5e3;
    padding: 2px;
    font-family: Arial;
    border: 1px #9d9d9d solid;
}





.mainTablesEditor
{
    border-collapse: collapse;
}

.mainTablesEditor td
{
    padding: 2px;
}

.mainTablesEditor td table
{
    background-color: #2e2e2e;
    width: 98%;
}

#mainTablesEditorButton{
    width: 25px;
    text-align: center;
    cursor: pointer;
}

#mainTablesEditorButton img
{
    width: 20px;
    cursor: pointer;
    vertical-align: middle;
}

#mainTablesEditorButton:hover
{
    background-color: #2e2e2e;
}

.mainTablesEditorAddRow
{ 
    cursor: pointer;
    border: 0px;
    height: 25px;
    background-color: #2e2e2e;
    text-align: center; 
}

.mainTablesEditor td input[type="checkbox"]
{
    width: 25px;
    cursor: pointer;
    background-color: #ff0000;
}

.mainTablesEditor td input[type="text"]
{
    width: 98%;
    border: 1px #000 solid;
    background-color: #ffffff;
}

.mainTablesEditor td textarea
{
    width: 98%;
    border: 1px #000 solid;
    background-color: #ffffff;
}


.mainTablesEditorSelectObal table
{
    border: 1px #000 solid;
    background-color: #2e2e2e;
    color: #ffffff;
    width: 98%;
}