
/* Nastavení grafiky */

#LoggedBarLoginFormObal
{
margin: 0px auto;
font-family:Arial;
color: #000000;
}

#LoggedBarLoginFormObal table
{
color: #000000;
}

#LoggedBarLoginFormObal table input
{
background-color: #ffffff;
border: 1px #000 solid;
}

#LoggedBarLoginFormObal table input[type=submit]
{
background-color: #205c8e;
color: #ffffff;
}

/* Ostatní nastavení */

#LoggedBarLoginFormObal
{
margin: 0px auto;
margin-top: 8px;
padding: 5px 7px;
text-align: center;
}

#LoggedBarLoginFormObal table
{
margin: 0px auto;
}

#LoggedBarLoginFormObal table input
{
-webkit-border-radius: 6px;
-moz-border-radius: 6px;
border-radius: 6px;
padding: 4px 7px;
width: 180px;
}

#LoggedBarLoginFormObal table img
{
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
}

#LoggedBarLoginFormObal table div img{
vertical-align:middle;
}

#LoggedBarLoginFormObal table input[type=submit]
{
border: 0px;
width: auto;
padding: 5px 15px;
margin-top: 10px;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
font-weight: bold;
cursor: pointer;
}